#frontpage-location-listing
  .row.bitcoinlist
    #purchase-bitcoins-online.span12
      %h2 Buy bitcoins online in United States
      %table.table.table-striped.table-condensed.table-bitcoins
        %tr
          %th
            Seller
          %th{:title => "Description"} Description
          %th.header-price{:title => "Current price of this ad"} Price / BTC
          %th.header-limit{:title => "Trade amount in fiat currency"} Limits
          %th.header-payment-method{:title => "Payment method"} Payment method
          %th
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/31372/purchase-bitcoin-western-union-united-states"} iarsenaux (100+; 100%)
            %span.online-status.online-status-online{:title => "User iarsenaux last seen online 4 minutes ago"}
              %i.icon.icon-circle
          %td Western Union
          %td.column-price 122.25 USD
          %td.column-limit 200 - 4100 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/western-union/"}
              Western Union
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/31372/purchase-bitcoin-western-union-united-states"}
              Buy
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/22335/purchase-bitcoin-bank-transfer-united-states-united-states"} LABitMarket (9; 100%)
            %span.online-status.online-status-online{:title => "User LABitMarket last seen online 2 minutes ago"}
              %i.icon.icon-circle
          %td Bank transfer United States
          %td.column-price 129.20 USD
          %td.column-limit 300 - 2000 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/national-bank-transfer/"}
              National bank transfer
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/22335/purchase-bitcoin-bank-transfer-united-states-united-states"}
              Buy
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/26810/purchase-bitcoin-western-union-united-states"} BancoBTC (14; 100%)
            %span.online-status.online-status-online{:title => "User BancoBTC last seen online 3 minutes ago"}
              %i.icon.icon-circle
          %td Western Union
          %td.column-price 129.65 USD
          %td.column-limit 450 - 1622 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/western-union/"}
              Western Union
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/26810/purchase-bitcoin-western-union-united-states"}
              Buy
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/31531/purchase-bitcoin-cash-deposit-td-bank-united-states"} trustinbits (70+; 100%)
            %span.online-status.online-status-recent{:title => "User trustinbits last seen online 3 hours ago"}
              %i.icon.icon-circle
          %td Cash deposit: TD BANK
          %td.column-price 130.27 USD
          %td.column-limit 1300 - 1830 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/cash-deposit/"}
              Cash deposit
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/31531/purchase-bitcoin-cash-deposit-td-bank-united-states"}
              Buy
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/30759/purchase-bitcoin-cash-deposit-suntrust-united-states"} CeruleanShine (30+; 100%)
            %span.online-status.online-status-online{:title => "User CeruleanShine last seen online 10 minutes ago"}
              %i.icon.icon-circle
          %td Cash deposit: Suntrust
          %td.column-price 131.38 USD
          %td.column-limit 50 - 1238 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/cash-deposit/"}
              Cash deposit
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/30759/purchase-bitcoin-cash-deposit-suntrust-united-states"}
              Buy
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/20080/purchase-bitcoin-western-union-united-states"} liberty1983 (70+; 100%)
            %span.online-status.online-status-offline{:title => "User liberty1983 last seen online 8 hours ago"}
              %i.icon.icon-circle
          %td Western Union
          %td.column-price 131.65 USD
          %td.column-limit 1000 - 1500 USD
          %td.column-payment-method
            %a{:href => "/buy-bitcoins-online/western-union/"}
              Western Union
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/20080/purchase-bitcoin-western-union-united-states"}
              Buy
      .popular-payment-methods.pull-right
        %ul.popular-methods-dropdown{:id => "dropdown-/buy-bitcoins-online/"}
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Show more…
              %b.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/usd/"}
                  All in US Dollar (USD)
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/us/united-states/"}
                  All in United States
              %li.divider
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/us/united-states/cash-deposit/"}
                  Cash deposit
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/us/united-states/other-online-payment/"}
                  Other online payment
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/us/united-states/transfers-with-specific-bank/"}
                  Transfers with specific bank
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/usd/western-union/"}
                  Western Union
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/usd/moneypak/"}
                  MoneyPak
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/usd/moneygram/"}
                  Moneygram
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/usd/paypal/"}
                  Paypal
              %li
                %a{:href => "https://localbitcoins.com/buy-bitcoins-online/us/united-states/national-bank-transfer/"}
                  National bank transfer
      %div{:style => "clear: both"}
        /
    .span12
      / Buy bitcoins table alku
      %h2 Buy bitcoins with cash near Aurora, CO 80015, USA
      %table.table.table-striped.table-condensed.table-bitcoins
        %tr
          %th{:style => "width:200px;"} Seller
          %th.header-distance{:title => "Your distance from the Seller (Specify your current location above)"} Distance
          %th{:style => "width:400px;", :title => "Location"} Location
          %th.header-price{:title => "Current price of this ad"} Price/BTC
          %th.header-amount{:title => "Trade amount in fiat currency"} Limits
          %th &nbsp;
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/30472/buy-bitcoins-with-cash-parker-co-usa"} Qbit (0)
            %span.online-status.online-status-offline{:title => "User Qbit last seen online 4 days ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Parker, CO, USA
          %td.column-price 127.12 USD
          %td.column-limit 100 - 20000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/30472/buy-bitcoins-with-cash-parker-co-usa"}
              Buy
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/27806/buy-bitcoins-with-cash-stapleton-denver-co-usa"} errljars (15; 100%)
            %span.online-status.online-status-recent{:title => "User errljars last seen online 3 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Stapleton, Denver, CO, USA
          %td.column-price 140.00 USD
          %td.column-limit 40 - 800 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/27806/buy-bitcoins-with-cash-stapleton-denver-co-usa"}
              Buy
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/27088/buy-bitcoins-with-cash-3213-east-colfax-avenue-denver-co-united-states"} voluntarist (0)
            %span.online-status.online-status-offline{:title => "User voluntarist last seen online 2 weeks, 6 days ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            3213 East Colfax Avenue, Denver, CO, United States
          %td.column-price 129.65 USD
          %td.column-limit 100 - 2000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/27088/buy-bitcoins-with-cash-3213-east-colfax-avenue-denver-co-united-states"}
              Buy
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/31071/buy-bitcoins-with-cash-littleton-co-usa"} btcke (0)
            %span.online-status.online-status-offline{:title => "User btcke last seen online 2 days, 3 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Littleton, CO, USA
          %td.column-price 131.12 USD
          %td.column-limit 500 - 9000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/31071/buy-bitcoins-with-cash-littleton-co-usa"}
              Buy
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/28238/buy-bitcoins-with-cash-denver-co-usa"} kbhinkle (1; 100%)
            %span.online-status.online-status-offline{:title => "User kbhinkle last seen online 3 days, 12 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Denver, CO, USA
          %td.column-price 135.83 USD
          %td.column-limit
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "buy", "data-button-id" => "buy-authenticatd", "data-category" => "listing", :href => "https://localbitcoins.com/ad/28238/buy-bitcoins-with-cash-denver-co-usa"}
              Buy
      .show-more
        %a.primary-link.pull-right{:href => "/buy-bitcoins-with-cash/us/39.6288155/-104.7812654/aurora-co-80015-usa/"}
          %i.icon.icon-map-marker
          Show more on map for buy bitcoins with cash
  .row.bitcoinlist
    #sell-bitcoins-online.span12
      %h2 Sell bitcoins online in United States
      %table.table.table-striped.table-condensed.table-bitcoins
        %tr
          %th
            Buyer
          %th{:title => "Description"} Description
          %th.header-price{:title => "Current price of this ad"} Price / BTC
          %th.header-limit{:title => "Trade amount in fiat currency"} Limits
          %th.header-payment-method{:title => "Payment method"} Payment method
          %th
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/21317/cash-out-your-bitcoins-moneypak"} bakerlv (100+; 98%)
            %span.online-status.online-status-recent{:title => "User bakerlv last seen online 2 hours ago"}
              %i.icon.icon-circle
          %td MoneyPak
          %td.column-price 135.72 USD
          %td.column-limit 500 - 2000 USD
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/moneypak/"}
              MoneyPak
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/21317/cash-out-your-bitcoins-moneypak"}
              Sell
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/30972/cash-out-your-bitcoins-moneypak"} ezbtcbank (100+; 100%)
            %span.online-status.online-status-recent{:title => "User ezbtcbank last seen online 22 minutes ago"}
              %i.icon.icon-circle
          %td MoneyPak
          %td.column-price 125.95 USD
          %td.column-limit
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/moneypak/"}
              MoneyPak
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/30972/cash-out-your-bitcoins-moneypak"}
              Sell
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/15494/cash-out-your-bitcoins-paypal"} theoutside (100+; 100%)
            %span.online-status.online-status-online{:title => "User theoutside last seen online 38 seconds ago"}
              %i.icon.icon-circle
          %td Paypal
          %td.column-price 125.54 USD
          %td.column-limit 100 - 2000 USD
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/paypal/"}
              Paypal
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/15494/cash-out-your-bitcoins-paypal"}
              Sell
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/20678/cash-out-your-bitcoins-bank-nationwide-bank"} Josh (100+; 99%)
            %span.online-status.online-status-recent{:title => "User Josh last seen online 2 hours ago"}
              %i.icon.icon-circle
          %td Bank: Nationwide Bank
          %td.column-price 123.63 USD
          %td.column-limit 300 - 1500 USD
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/transfers-with-specific-bank/"}
              Transfers with specific bank
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/20678/cash-out-your-bitcoins-bank-nationwide-bank"}
              Sell
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/28931/cash-out-your-bitcoins-paypal"} Yadoxi (70+; 98%)
            %span.online-status.online-status-recent{:title => "User Yadoxi last seen online 3 hours ago"}
              %i.icon.icon-circle
          %td Paypal
          %td.column-price 123.48 USD
          %td.column-limit 0 - 1000 USD
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/paypal/"}
              Paypal
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/28931/cash-out-your-bitcoins-paypal"}
              Sell
        %tr.clickable
          %td.column-user
            %a{:href => "https://localbitcoins.com/ad/29788/cash-out-your-bitcoins-cash-deposit-wells-fargo-bank-of-america-pnc-bank"} RDUcoins (11; 100%)
            %span.online-status.online-status-online{:title => "User RDUcoins last seen online now"}
              %i.icon.icon-circle
          %td Cash deposit: Wells Fargo, Bank of America, PNC Bank
          %td.column-price 122.80 USD
          %td.column-limit 50 - 1000 USD
          %td.column-payment-method
            %a{:href => "/sell-bitcoins-online/cash-deposit/"}
              Cash deposit
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/29788/cash-out-your-bitcoins-cash-deposit-wells-fargo-bank-of-america-pnc-bank"}
              Sell
      .popular-payment-methods.pull-right
        %ul.popular-methods-dropdown{:id => "dropdown-/sell-bitcoins-online/"}
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Show more…
              %b.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/usd/"}
                  All in US Dollar (USD)
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/us/united-states/"}
                  All in United States
              %li.divider
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/us/united-states/cash-deposit/"}
                  Cash deposit
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/usd/paypal/"}
                  Paypal
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/us/united-states/transfers-with-specific-bank/"}
                  Transfers with specific bank
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/usd/moneypak/"}
                  MoneyPak
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/us/united-states/other-online-payment/"}
                  Other online payment
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/usd/venmo/"}
                  Venmo
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/us/united-states/national-bank-transfer/"}
                  National bank transfer
              %li
                %a{:href => "https://localbitcoins.com/sell-bitcoins-online/usd/okpay/"}
                  OKPay
      %div{:style => "clear: both"}
        /
    .span12
      / Sell Bitcoins table alku
      %h2 Sell bitcoins with cash near Aurora, CO 80015, USA
      %table.table.table-striped.table-condensed.table-bitcoins
        %tr
          %th{:style => "width:200px;"} Buyer
          %th.header-distance{:title => "Your distance from the Seller (Specify your current location above)"} Distance
          %th{:style => "width:400px;", :title => "Location"} Location
          %th.header-price{:title => "Current price of this ad"} Price/BTC
          %th.header-amount{:title => "Trade amount in fiat currency"} Limits
          %th &nbsp;
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/1886/sell-bitcoins-for-cash-starbucks-2000-s-university-blvd-denver-co-80210"} Bitcoins (0)
            %span.online-status.online-status-offline{:title => "User Bitcoins last seen online 9 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Starbucks, 2000 S University Blvd, Denver, CO 80210
          %td.column-price 126.18 USD
          %td.column-limit 50 - 1000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/1886/sell-bitcoins-for-cash-starbucks-2000-s-university-blvd-denver-co-80210"}
              Sell
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/31273/sell-bitcoins-for-cash-denver-co-usa"} bpanon (0)
            %span.online-status.online-status-online{:title => "User bpanon last seen online now"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Denver, CO, USA
          %td.column-price 121.01 USD
          %td.column-limit 500 - 2000 USD
          %td.column-button
            %a.btn.megabutton{:href => "/ads_edit/31273"} Edit
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/28470/sell-bitcoins-for-cash-denver-co-usa"} hscarface0 (0)
            %span.online-status.online-status-offline{:title => "User hscarface0 last seen online 6 days, 6 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Denver, CO, USA
          %td.column-price 118.54 USD
          %td.column-limit 500 - 2000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/28470/sell-bitcoins-for-cash-denver-co-usa"}
              Sell
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/16202/sell-bitcoins-for-cash-denver-co-usa"} sellbitcoin4cash.com (0)
            %span.online-status.online-status-offline{:title => "User sellbitcoin4cash.com last seen online 3 weeks, 1 day ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Denver, CO, USA
          %td.column-price 115.29 USD
          %td.column-limit 200 - 10000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/16202/sell-bitcoins-for-cash-denver-co-usa"}
              Sell
        %tr.clickable
          %td
            %a{:href => "https://localbitcoins.com/ad/30391/sell-bitcoins-for-cash-denver-co-usa"} cornfeedhobo (100+; 100%)
            %span.online-status.online-status-offline{:title => "User cornfeedhobo last seen online 7 hours ago"}
              %i.icon.icon-circle
          %td.column-country.column-distance
            0 miles
          %td.column-location
            Denver, CO, USA
          %td.column-price 93.55 USD
          %td.column-limit 50000 - 70000 USD
          %td.column-button
            %a.btn.tracked-button.megabutton{"data-action" => "sell", "data-button-id" => "sell-authenticated", "data-category" => "listing", :href => "https://localbitcoins.com/ad/30391/sell-bitcoins-for-cash-denver-co-usa"}
              Sell
      .show-more
        %a.primary-link.pull-right{:href => "/sell-bitcoins-with-cash/us/39.6288155/-104.7812654/aurora-co-80015-usa/"}
          %i.icon.icon-map-marker
          Show more on map for sell bitcoins with cash